<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand m-sm-3" routerLink="/">AWaiter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/meals">Meals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/addMeal">Add Meal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders">Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/newOrder">Create Order</a>
      </li>
    </ul>

  </div>
</nav>



<div class="container">
  <div class="row">
    <div class="col-md-12">

      <router-outlet></router-outlet>
<!--      <h3 class="mt-5">Hi. My name is Yaroslav and it`s my CS diploma work.</h3>
      <p>It`s client-server application named "AWaiter" created for simplify orders in restourants.</p>-->

    </div>
  </div>
</div>
